header {
@extend %flex;
  justify-content: space-between;
}
nav {
@extend %flex;
  align-items: flex-start;
}
ul {
  @extend %flex;
}
li {
  margin: 0 20px;
}
.user-tools {
  @extend %flex;
  align-items: center;
}
img {
  margin: 0 20px;
}
.shots {
  @extend %flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.meta {
@extend %flex;
justify-content: flex-end;
}
