/* Base Styles -------------------- */
.ref-link {
    text-align: center;
    font-size: 24px;
    padding: 50px 0;
    a {
        color: #999;
    }
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 80px;
  }

  body {
    font-family: sans-serif;
    padding: 50px;
    margin: 0;
  }

/* Pseudo-classes ------------------ */
